body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #04040B;
    /*color: #F7F9FB;*/
}
::selection {
    background-color: #49545F;
    color: #8DCEF2;
}
.header {
    background-color: #121212;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-text {
    font-size: 28px;
    font-weight: 500;
    color: #A9BCD0;
}

.header-middle {
    margin-left: 10px;  /* Уменьшили отступ слева */
}

.header-search-bar {
    display: flex;
    align-items: center;
    border: none; /* Убираем границу */
    border-radius: 20px; /* Скругленные края */
    padding: 8px 12px;
    width: 260px;
    color: rgba(173, 173, 173, 0.08);
    background-color: rgba(173, 173, 173, 0.08);
    margin-top: 10px;
}

.search-icon {
  margin-right: 10px;
  color:#888;
}

.header-search-bar input {
    flex: 1;
    width: 100%;
    padding: 8px 15px;
    background-color: rgba(173, 173, 173, 0.08);
    border: none;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    color: #890;
}
.header-search-bar input:focus {
    outline: none;
    box-shadow: none;
}

.header-search-bar input::placeholder {
    color:#888; /* Светлый цвет для плейсхолдера */
}

.header-search-bar input:focus::placeholder {
    color: transparent; /* Плейсхолдер становится прозрачным при фокусе */
}

.header-search-bar input:not(:placeholder-shown)::placeholder {
    color: transparent; /* Плейсхолдер исчезает, когда пользователь начинает ввод */
}

.nav {
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav-group {
    display: flex;
    gap: 20px;
}
.nav a {
    color: #F7F9FB;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    transition: color 0.3s ease;
}
.nav a:hover {
    color: #8de4ff;
}
.nav .connect-btn {
    background: linear-gradient(90deg, #2D83EC, #1AC9FF);
    padding: 8px 18px;
    color: #F7F9FB;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s ease;
}
.nav .connect-btn:hover {
    background: linear-gradient(90deg, #1AC9FF, #2D83EC);
}
.collection-description {
    padding: 40px;
    text-align: center;
}
.collection-description h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #A9BCD0;
}
.collection-description p {
    font-size: 16px;
    line-height: 1.5;
    color: #F0F0FF;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.nft-card {
    background-color: #16161d;
    border-radius: 10px;
    padding: 70px;
    display: flex;
   /* flex-wrap: wrap; */
    flex-direction: row;
    gap: 120px;
    max-width: 1050px;
}
.nft-image img {
    width: 380px;
    border-radius: 10px;
}
.nft-details {
    flex: 1;
}
.title {
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 10px;

}
.auction-button {
    display: inline-block;
    background-color: #1a1a23;
    color: #F7F9FB;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.auction-button:hover {
    background-color: #333;
}
.description {
    margin-bottom: 20px;
}
.auction-info {
    background-color: #1a1a23;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.price {
    font-size: 20px;
}
.bid-button {
    background-color: #3e8fe5;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;


}
.bid-button:hover {
    background-color: #2d7fd7;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Модальное окно */
.modal {
    display: none;
    position: absolute; /* Абсолютное позиционирование */
    top: 25%;
    left: 50%;
    justify-content: center;        /* Центрирование по горизонтали */
    align-items: center;
    transform: translate(-50%, -50%); /* Сдвигаем окно на центр */
    background-color: #121212;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 90%; /* Ширина окна адаптивная */
    height: auto;                /* Автоматическая высота в зависимости от контента */
    max-height: 80vh;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.modal-content {
    background-color: #121212;
    display: flex; /* Flexbox для горизонтального размещения */
    align-items: center; /* Выравниваем по центру по вертикали */
    justify-content: center; /* Центрируем внутри модального окна */
}

#qrCode {
    opacity: 1;
    width: 70%; /* Задаем фиксированную ширину QR-коду */
    height: auto;
}

/* Подпись */
.wallet-text-text {
    display: inline-flex;         /* Делаем содержимое inline-flex для центровки внутри блока */
    align-items: center;          /* Выравниваем иконку и текст по вертикали */
    gap: 8px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 600;             /* Расстояние между иконкой и текстом */
    font-size: 18px;              /* Размер текста */
    color: #FFFFFF;
}

.wallet-text-image{
    width: 20px;
    height: 20px;
}

/* Кнопка закрытия (крестик) */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}
.owner {
    display: flex;
    align-items: center;
    background-color: #1a1a23;
    padding: 7px;
    border-radius: 8px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.2s ease;
    margin-top: -10px;
    margin-bottom: 10px;
}

.owner:hover {
    background-color: #333;
}

.owner-avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-right: 8px;
    margin-bottom: -7px;

}

.owner-info {
    display: flex;
    flex-direction: column;
    margin-bottom: -15px;
}

.owner-label {
    font-size: 12px;
    color: #8a8a8a;
    margin-top: 7px;
}

.owner-address {
    font-size: 14px;
    color: #f0f0ff;
    font-weight: bold;
    margin-bottom: 20px;
}

body {
    background-color: #04040B;
    color: #fff;
    font-family: Arial, sans-serif;
}

.footer {
    padding: 25px;
    background-color: #04040B;
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}

.footer .column {
    flex: 1;
    margin-right: 40px;
}
.footer .column:last-child {
    margin-right: -20px;
}
.footer .social-links a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #444;
    padding: 10px 15px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 20px;
}

.footer .social-links a:hover {
    background-color: #333;
}

.footer h4 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer a {
    color: #F7F9FB;
    text-decoration: none;
    transition: color 0.075s ease;
}

.footer a:hover {
    color: #8de4ff;
}

.footer .base-ton {
    margin-top: 25px;
}

.nav a {
    color: #F7F9FB;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    transition: color 0.3s ease;
}


