{% extends 'base.html'%}
{% load pages_tags %}

{% block content%}
<h2 align="center">САМЫЙ ЛУЧШИЙ В МИРЕ НФТ МАРКЕТПЛЕЙС</h2>
<h3 align="center">ТОП КОЛЛЕКЦИЙ</h3>
<div class="container">
    {% for collection in top_collections.collections %}
        <div class="mini-nft-card text-bg-dark d-inline-block mb-3 me-2">
            <a href="nfts/collections/{{collection.address}}"></a>
               <img src="{{ collection.metadata.image }}" alt="{{ collections.metadata.name }}" style="width: 200px; height: auto;">
            <div class="mini-nft-card-body">
                <h5 class="mini-nft-card-title">{{ collection.metadata.name }}</h5>
            </div>
        </div>
    {% endfor %}
</div>
<h3 align="center">ТОП NFT</h3>
<div class="container">
    {% for nft in top_nfts.nft_items %}
        <div class="mini-nft-card text-bg-dark d-inline-block mb-3 me-2">
            <a href="/nfts/collections/{{nft.collection.address}}/{{nft.address}}/"></a>
<!--                <a href="/nfts/collections/{{nft_item.collection.address}}/{{nft_item.address}}/"></a>-->
            <img src="{{ nft.metadata.image }}" alt="{{ nft.metadata.name }}" style="width: 200px; height: auto;">
            <div class="mini-nft-card-body">
                <h5 class="mini-nft-card-title">{{ nft.metadata.name }}</h5>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}