{% extends 'base.html'%}
{% load static %}

{% block content%}
<div class="container">
    <div class="nft-card">
        <div class="nft-image">
            <img src="{{ data.metadata.image }}" alt="{{ data.metadata.name }}">
        </div>
        <div class="nft-details">
            <div class="title">{{ data.metadata.name }}</div>
            <div class="description">{{ data.metadata.description }}</div>

            <div class="auction-info">
                <a href="#" class="auction-button">
                    <p>До конца аукциона: <strong>4 часа 17 минут</strong></p>
                    <p>Минимальная ставка: <strong>10 TON (~51,35 $)</strong></p>
                    <p>Максимальная ставка: <strong>15 TON (~77,02 $)</strong></p>
                </a>
            </div>

            <a href="/profile/{{ owner_address }}" class="owner">
                <span><img src="{{data.metadata.image}}" alt="{{ data.metadata.name }}" class="owner-avatar"></span>
                <div class="owner-info">

                    <span class="owner-label">Owner:</span>
                    <span class="owner-address">{{ data.owner_address|slice:":5" }}...{{ data.owner_address|slice:"-5:" }}</span>
                </div>
            </a>
<!--            {% if mod_owner_address == user_address %}-->
<!--            {% if on_sale_or_no is not None %}-->
<!--            <a href="/nfts/sell/{{ nft_item_address }}">-->
<!--                <button class="bid-button">Продать NFT</button>-->
<!--            </a>-->
<!--            {% else %}-->
<!--            <button class="bid-button">Вы уже выставили на продажу</button>-->
<!--            {% endif %}-->
<!--            {% endif %}-->


<!--            {% if mod_owner_address != user_address %}-->
<!--            {% if on_sale_or_no is None %}-->
<!--            <button class="bid-button">Не продается...</button>-->
<!--            {% else %}-->
<!--            <button class="bid-button" id="buyNFTButton">Купить NFT</button>-->

<!--            {% endif %}-->
<!--            {% endif %}-->


            {% if mod_owner_address != user_address and on_sale_or_no is not None %}
            <button class="bid-button" id="buyNFTButton">Купить NFT</button>
            {% endif %}

            {% if mod_owner_address != user_address and on_sale_or_no is None %}
            <button class="bid-button">Не продается...</button>
            {% endif %}

            {% if mod_owner_address == user_address and on_sale_or_no is None %}
            <a href="/nfts/sell/{{ nft_item_address }}">
                <button class="bid-button">Продать NFT</button>
            </a>
            {% endif %}

            {% if mod_owner_address == user_address and on_sale_or_no is not None %}
            <button class="bid-button">Вы уже выставили на продажу</button>
            {% endif %}

        </div>
</div>
</div>


<!--проверка для вывода кнопки о продаже нфт-->

<!--{% if mod_owner_address == user_address %}-->
<!--<a href="/nfts/sell/{{ nft_item_address }}">-->
<!--    <button>Продать NFT</button>-->
<!--</a>-->
<!--{% else %}-->
<!--<p>Прав для продажи нет.</p>-->
<!--<p>Владельцем является: {{ data.owner_address }}</p>-->
<!--{% endif %}-->

<script>
    const nft_item_address = "{{ nft_item_address }}";






</script>

{% endblock %}


{% block script %}
<script src="{% static 'pages/js/buy/buy.js' %}"></script>
{% endblock %}