{% extends 'base.html'%}
{% load static %}

{% block content%}
<div class="container">
    <div class="nft-card">
        <div class="nft-image">
            <img src="{{ data.metadata.image }}" alt="{{ data.metadata.name }}">
        </div>
        <div class="nft-details">
            <div class="title">{{ data.metadata.name }}</div>
            <div class="description">{{data.metadata.description}}</div>
            <div class="auction-info">
                <p>До конца аукциона: <strong>4 часа 17 минут</strong></p>
                <p>Минимальная ставка: <strong>10 TON (~51,35 $)</strong></p>
                <p>Максимальная ставка: <strong>15 TON (~77,02 $)</strong></p>
            </div>
            <button class="bid-button">Сделать ставку</button>


        </div>
    </div>

    {% if data.owner_address == user_address %}
        <a href="/nfts/create/nft_collection/{{ collection_address }}/nft">
            <button> Создать NFT </button>
        </a>
<!--    {% else %}-->
<!--        <p>Прав нет для создания. </p>-->
<!--        <p>Владельцем является: {{data.owner_address}}</p>-->
    {% endif %}

</div>


<!-- Секция с миниатюрами других NFT -->

<h2 class="title text-center" style="margin: 0; padding: 5px 10px; border: 2px solid #fff; border-radius: 8px; display: inline-block;">
    Элементы коллекции
</h2>

<div class="container" style="margin-top: 5px;">
    {% for nft_item in nfts.nft_items %}
        <div class="card text-bg-dark d-inline-block mb-3 me-2" style="width: 14rem; border: 2px solid #fff; border-radius: 8px;">
            <img src="{{ nft_item.metadata.image }}" class="card-img-top" alt="{{ nft_item.metadata.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ nft_item.metadata.name }}</h5>
                <p class="card-text d-inline-block text-truncate" style="max-width: 200px;">{{ nft_item.metadata.description }}</p>
                <a href="/nfts/collections/{{nft_item.collection.address}}/{{nft_item.address}}/" class="btn btn-primary w-100 mt-2">Go somewhere</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block script %}
<script>
    const user_address = "{{ user_address }}";
</script>
{% endblock %}