{% extends 'base.html'%}
{% load static %}

{% block content%}
<div class="container">
    <div class="collection-card">
        <div class="collection-card-image">
            <img src="{{data.previews.3.url}}" alt="{{ data.metadata.name }}">
        </div>
        <div class="collection-card-details">
            <div class="collection-card-title">{{ data.metadata.name }}</div>
            <div class="collection-card-description">{{data.metadata.description}}</div>
            <button class="bid-button">Сделать ставку</button>
                {% if mod_owner_address == user_address %}
                    <a href="/nfts/create/nft_collection/{{ data.address }}/nft">
                        <button class="bid-button">Создать NFT</button>
                    </a>
                {% endif %}
        </div>
    </div>
</div>
<!-- Секция с миниатюрами других NFT -->

<h2 style="margin: 20; padding: 5px 10px; border: 2px solid #fff; border-radius: 8px; display: inline-block;">
    Элементы коллекции
</h2>
<div class="container">

{% for nft_item in nfts.nft_items %}
<div class="mini-nft-card text-bg-dark d-inline-block mb-3 me-2">
    <a href="/nfts/collections/{{nft_item.collection.address}}/{{nft_item.address}}/"></a>
    <img src="{{ nft_item.previews.3.url }}" alt="{{ nft_item.metadata.name }}">
    <div class="mini-nft-card-body">
        <h5 class="mini-nft-card-title">{{ nft_item.metadata.name }}</h5>
        <!--        <p class="mini-nft-card-text">{{ nft_item.metadata.description }}</p>-->
    </div>
</div>
{% endfor %}

</div>
{% endblock %}

{% block script %}
<!--<script>-->
<!--    const user_address = getCookie('address_wallet')-->
<!--</script>-->
{% endblock %}
